.search_form__switch{
    width: 0;
    position: relative;
}
.search_form__switch_button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    right: calc(-15px);
    z-index: 1;
    top: 10px;
    height: 30px;
    width: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    background: #f9f9f9;
    border: 1px solid #eeeeee;
}
.search_form__switch_button:active{
    transition: transform 0.2s;
    transform: rotate(180deg) scale(0.95);
}
.search_form__switch_button_disable{
    background: #eee;
}