.DayPicker-Day:focus,.DayPicker-NavButton:focus{
    outline: none !important;
}
.DayPicker> *{
    outline: none !important;
}
.DayPicker{
    width: 100%;
    min-width: 300px;
    color: #393939;

}
.DayPicker-Month{

    width: 100%;
}
.DayPicker-Caption{
    text-align: center;
}
.DayPicker-NavButton.DayPicker-NavButton--prev{
    left: 1.25rem;
    top: 1.1em;
}
.DayPicker-NavButton.DayPicker-NavButton--next{
    right: 1.25rem;
    top: 1.1em;
}
.DayPicker-Day{
     padding: 6px 6px ;
    line-height: 1;
    border-radius: 4px;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    position: relative;
    background-color: #FA8405 !important;

    /* padding: 5px !important; */
    background-size: 80%;
    color: white !important;
}
.DayPicker-Day--sunday{
    background: transparent;
}
.DayPicker-Day.DayPicker-Day--sunday.DayPicker-Day--disabled{
    color: rgba(208, 2, 27, 0.3) !important;
}
.DayPicker-Day--sunday:not(.DayPicker-Day--today){
    color: #d0021b;

}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside).DayPicker-Day--hilight {
    background: green;
}
.DayPicker-Day.DayPicker-Day--hilight:not(.DayPicker-Day--outside):not(.DayPicker-Day--disabled){


    border-radius: 4px !important;
    position: relative;
}

.DayPicker-Month{
    border-collapse: separate;
    border-spacing: 3px;
    margin: 1rem 0 0 0;

}
.DayPicker-wrapper {
    position: relative;


    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.DayPicker-Day--today:not(.DayPicker-Day--outside):not(.DayPicker-Day--disabled){
    background-color: #d0021b;
    color: white;
}
.DayPicker-Day--today:not(.DayPicker-Day--outside):not(.DayPicker-Day--disabled):hover{

    color: inherit;
}
.DayPicker_price{
    font-size: 11px;
}
.DayPicker_price small{
    margin-left: 2px;
}
