.search_form__datePicker_container{
    background: white;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    padding: 0;
    margin-top: 0.25rem ;

}
.search_form__datePicker_content{
    padding: 0 0.5rem;
}

.search_form__datePicker_header{
    padding: 0.5rem 1rem;
    background: #eee;
    font-size: 14px;
    position: sticky;
    top: 0;
    left: 0;
    width: inherit;
    border-bottom: 1px solid #d8d8d8;
}
.search_form_datePicker_control{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}
.search_form_datePicker_control button{
    height: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border-radius: 4px;
    padding: 0 1.25rem;
    background: #FA8405;
    color: white;
    font-size: 1.25rem;

    border: 0;
    outline: 0;
    flex-basis: 100%;
    max-width: calc(50% - 0.25rem);
    outline: 0 !important;
    text-align: center;
}
#search_from__date_from, #search_from__date_back{
    cursor: pointer;
}
.search_form__input.date_inner {

    flex-basis: 100%;
    max-width: calc(33% / 2 - 2px);
    box-sizing: border-box;
}
.search_form_icon.close{
    transform: scale(1.1);
}

.search_form_icon.close:hover{
    transform: scale(0.9);
    transform-origin: center ;
    transition: transform 0.4s;
}
.search_form_icon.close:active{
    transform: scale(0.9);
    transition: transform 0.2s;
}
button.search_form_datePicker_control_not-ticket{
    width: 100%;
    max-width: 100%;
    margin-top: 0.5rem;
    border: 2px solid #ff9828 ;
    outline: 0;
    box-shadow: unset;
    background: white;
    color: #e47e34;
}
.height_0{
    display: none;
}
.height_100{
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 1rem;
}
.search_form__datePicker_control_desktop{
    position: absolute;
    bottom: -17px;
    left: 0;
}
.search_form__datePicker_control_desktop button{
    border: 0;
    outline: 0;
    color: white;
    background: transparent;
    padding: 0;
    margin-right: 5px;
    font-size: 12px;
    border-bottom: 1px dashed white;
}