.search_form__counter_container{

    border-radius: 4px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    padding: 0;
    margin-top: 0.25rem ;
     max-width: 300px;

}
.search_form__counter_content{
    padding: 0 1rem;
}

.search_form__counter_header{
    padding: 0.5rem 1rem;
    background: #eee;
    font-size: 14px;
    position: sticky;
    top: 0;
    left: 0;
    width: inherit;
    border-bottom: 1px solid #d8d8d8;
}
.search_form__input.pessangers {
    flex-basis: calc(15% - 4px);
    max-width: calc(15% - 4px);
    margin-right: 0;
    box-sizing: border-box;
}
.search_form__input.pessangers_inner {
    flex-basis: 100%;
    max-width: calc(12% - 2px);
    margin-right: 0;
    box-sizing: border-box;
    margin-right: 2px;
}
.search_form__counter_action{
    margin: 0.5rem 0;

    bottom: 0;
    left: 0;

}
.search_form__counter_action button{
    height: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border-radius: 4px;
    padding: 0 1.25rem;
    background: #FA8405;
    color: white;
    font-size: 1.25rem;
    border: 0;
    width: 100%;
    flex-basis: 100%;
    outline: 0 !important;
    text-align: center;
}